# Jupyter / Python
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

# Systemowe
.DS_Store
Thumbs.db

# Data
data/
wandb/
*.jpg

# Virtualenv
venv/
env/

# Inne
*.log
*.tmp
*.zip
*.tgz
segmim/
runs/
opus_books_weights/
*.json
jpg/

# C++
pillow
build/
